body {
  background: #000;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: rgb(131, 131, 131);
}
a:active {
  color: rgb(48, 48, 48);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* WRAPPER */
.header {
  align-self: center;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "top"
    "nav"
    "middle"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows:
    1fr
    auto
    auto;
}

/* TOP BAR */

.top {
  grid-area: top;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.nav {
  width:100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top:20px;
  padding-bottom:20px;
}

.nav-item {
  display: block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color:#FFFFFF;
  border: solid #FFFFFF 1px;
  padding:15px;
  border-radius: 10px;
  font-size: 1.8em;
  margin-bottom:10px;
}

.nav-item:hover {
  color:#999;
  background:#FFFFFF;
  
}

.social-top ul {
  padding: 20px;
}

.social-top li {
  display: none;
  padding: 10px;
}

/* MIDDLE */

.middle {
  grid-area: middle;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.content-one {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../content/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-two {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("../content/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-three video {
  width: 100%;
  min-height: 100%;
}

/* BOTTOM */

.bottom {
  grid-area: footer;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../content/4m.jpg") no-repeat;
    background-size: 100% 100vh;
    background-position-y: -300px
}

/* NEWSLETTER */

.button {
  background:#FFFFFF;
  border:none;
  padding:15px;
  margin-left:10px;
  text-transform: uppercase;
  font-size:25px;
}

.email-form {
  width:35%;
  padding:15px;
  font-size:25px;
}

.newsletter-subscribe {
  padding-top:40px;
}

.social-more {
  padding-top:20px;
}

.social-bottom ul {
  padding: 20px;
}

.social-bottom li {
  display: inline-block;
  padding: 15px;
}

.music-sources li {
  display: inline-block;
  padding: 15px;
}

/* CONTACT FORM */
.c-lrg {
  opacity: 0.9;
  text-align: left;
}

.c-label label{
  color:rgba(255, 255, 255, 1);
  text-transform: uppercase;
}


@media screen and (min-width: 1200px) {
  body {
    background: rgb(0, 0, 0);
  }
  
  /* TOP */
  
  .wrapper {
    display: grid;
    grid-template-areas:
      "top nav nav"
      "middle middle middle"
      "footer footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows:
      1fr
      auto
      auto;
  }

  .nav-item {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    color:#FFFFFF;
    border: solid #FFFFFF 1px;
    border-radius: 10px;
    margin:5px;
    font-size:1.4em;
  }

  .nav-item:hover {
  }

  /* MIDDLE */
  .content-one {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("../content/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:70px 50px;
  }
  
  .content-two {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../content/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:70px 50px;
  }
  
  .content-three video {
    padding-top:50px;
    width:800px;
    min-width: 60%;
    min-height: 100%;
  }

  /* BOTTOM */

  .bottom {
    position: absolute;;
    padding-top:70px;
    width:100%;
    height:40vh;
      /*background-color:rgb(58, 58, 58);*/
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../content/4.jpg") no-repeat;
      background-size: 100% 600px;
      background-position-y: -150px;
    }

  .social-more {
      float:left;
      width:50%;
  }

  .newsletter-subscribe {
      float:left;
      width:50%;
  }

  .social-bottom li {
    display: inline-block;
    padding: 15px;
    text-align: right;
  }
  
  .music-sources li {
    display: inline-block;
    padding: 15px;
    text-align: right;
  }
}




