body {
  background: #000 !important;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: rgb(131, 131, 131);
}
a:active {
  color: rgb(48, 48, 48);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* WRAPPER */
.header {
  align-self: center;
}
.wrapper {
  display: grid;
  grid-template-areas:
    "top"
    "nav"
    "middle"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows:
    1fr
    auto
    auto;
}

/* TOP BAR */

.top {
  grid-area: top;
  text-align: center;
  justify-content: center;
  align-self: center;
  padding:30px;
}

.nav {
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-item {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: solid #ffffff 1px;
  padding: 15px;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.nav-item:hover {
  color: #999;
  background: #ffffff;
}

.social-top ul {
  padding: 20px;
}

.social-top li {
  display: none;
  padding: 10px;
}

/* MIDDLE */

.middle {
  grid-area: middle;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.content-one {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../content/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-two {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url("../content/bg1.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content-three img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../content/bg2.gif") repeat-x no-repeat !important;
  width: 60%;
  height: 60%;
}

/* BOTTOM */

.bottom {
  grid-area: footer;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../content/4m.jpg") no-repeat;
  background-size: 100% 100vh;
  background-position-y: -300px;
}

/* NEWSLETTER */

.button {
  background: #ffffff;
  border: none;
  padding: 15px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 25px;
}

.email-form {
  width: 35%;
  padding: 15px;
  font-size: 25px;
}

#mc_embed_signup_scroll {

}

.mc-field-group {
  height:60px;
  display: flex;
  justify-content: center;
  background: none;
  color:#FFF;
}

.mc-field-group i{
  width:60px;
  font-size:50px;
  line-height: 60px;
  background:none;
}

.tbox, .btn {
  border:none;
  outline:none;
}

.tbox {
  width:0px;
  padding:0 10px;
  background: none;
  color:#FFFFFF;
  transition:0.6s;
}
.email-box:hover > .tbox,.tbox:focus {
  width:260px;

}


.newsletter-subscribe {
  padding-top: 40px;
}

.social-more {
  padding-top: 20px;
}

.social-bottom ul {
  padding: 20px;
}

.social-bottom li {
  display: inline-block;
  padding: 15px;
}

.music-sources li {
  display: inline-block;
  padding: 15px;
}

.listen {
  display:inline-block;
  padding:20px;
}

/* CONTACT FORM */
.c-lrg {
  opacity: 0.9;
  text-align: left;
}

.c-label label {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  body {
    background: rgb(0, 0, 0);
  }

  /* TOP */

  .wrapper {
    display: grid;
    grid-template-areas:
      "top nav nav"
      "middle middle middle"
      "footer footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows:
      1fr
      auto
      auto;
  }

  .nav-item {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: solid #ffffff 1px;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.4em;
  }

  .nav-item:hover {
  }

  /* MIDDLE */
  .content-one {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("../content/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 50px;
  }

  .content-two {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("../content/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 50px;
  }

  .content-three img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url("../content/bg2.gif") repeat-x no-repeat !important;
    width: 60%;
    height: 60%;
  }
  }

  /* BOTTOM */

  .bottom {
    position: absolute;
    padding-top: 70px;
    width: 100%;
    height: 40vh;
    /*background-color:rgb(58, 58, 58);*/
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
      url("../content/4.jpg") no-repeat;
    background-size: 100% 800px;
    background-position-y: -300px;
  }

  .social-more {
    float: left;
    width: 50%;
  }

  .newsletter-subscribe {
    float: left;
    width: 50%;
  }

  .social-bottom li {
    display: inline-block;
    padding: 15px;
    text-align: right;
  }

  .music-sources li {
    display: inline-block;
    padding: 15px;
    text-align: right;
  }
}

@media screen and (max-width: 900px) {

  .content-three video {
    display:none;
  }
  
}